body{
    background-color: black;
    color: black;
    padding-top:80px;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: rgb(0, 191, 255);
  padding: 20px 40px;
  box-shadow: #38bdf8 0px 4px 6px -1px, #38bdf8 0px 2px 4px -1px;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
}
nav{
    display: flex;
    gap: 25px;
}
nav a.btn-rgb{
    position: relative;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    overflow: hidden;
    z-index: 1;
    transition: color 0.3s ease;
}
nav a.btn-rgb::before{
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(270deg, rgb(41, 41, 240), #0ff);
    background-size: 400% 400%;
    border-radius: 10px;
    z-index: -1;
    animation: rgbBorder 6s linear infinite;
}
nav a.btn-rgb::after{
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background: black;
    border-radius: 6px;
    z-index: -1;
}
nav a.btn-rgb:hover{
    color: #38bdf8;
}
@keyframes rgbBorder{
    0%{background-position: 0% 50%;}
    100%{background-position: 400% 50%;}
}
.hambuger{
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 6px;
}
.hambuger span{
    width: 25px;
    height: 3px;
    background: white;
    border-radius: 3px;
    transition: all 0.3s ease;
}
@media (max-width: 768px){
    nav{
        display: none;
        flex-direction: column;
        background: #1e293b;
        position: absolute;
        top: 70px;
        right: 20px;
        width: 220px;
        padding: 15px;
        border-radius: 10px;
    }
    nav.show{
        display: flex;
    }
    .hambuger{
        display: flex;
        z-index: 200;
    }
}
.hambuger.active span:nth-child(1){
    transform: rotate(45deg) translateY(12px);
}
.hambuger.active span:nth-child(2){
    opacity: 0;
}
.hambuger.active span:nth-child(3){
    transform: rotate(-45deg) translateY(-12px);
}
